body
{
    background-image:url("BG Option 3.jpg");
    background-repeat: no-repeat;
    background-size: 2000px;
    padding-top: 150px;
}

h2 {
    font-family: 'Fredoka One', cursive;
    font-size: 40px;
    color:blueviolet;
    width: 250px;
}

#BTN2 {
    background-color: chartreuse;
    height: 30px;
    width: 100px;
    font-size: 20px;
    text-align: center;
    color: black;
    font-family: 'Chilanka', cursive;
    font-weight: bolder;
    border-style: dashed;
    border-width: 2px;
    border-color: blue;
}

#output {
    background: white;
    border-radius: 10px;
    border-top: 10px solid #86007b;
    padding: 10px;
    float: none;
    text-align: left;
}